<section class="dishes">
	<h1 class="dishes__title">Our <span class="dishes__el">Dishes</span></h1>
	<div class="dishes__container">
			<picture width="100px" heigth="100px">
				<source srcset="../src/images/ourDishes/pizza-mob.webp, ../src/images/ourDishes/pizza-mob@2x.webp"
				type="image/webp"> 
			       <source srcset="../src/images/ourDishes/pizza-mob.jpg , ../src/images/ourDishes/pizza-mob@2x.jpg">
 
				<source srcset="../src/images/ourDishes/pizza-desk.webp , ../src/images/ourDishes/pizza-desk@2x.webp"
				type="image/webp" >
				<source srcset="../src/images/ourDishes/pizza-desk.jpg , ../src/images/ourDishes/pizza-desk@2x.jpg">
		
			     <img src="../src/images/ourDishes/pizza-mob.jpg" alt="a pizza">
			 </picture>
	</div>
	<ul class="dishes__list">
		<li class="dishes__item">
			<a class="dishes__link" href="">
				<picture width="100px" heigth="100px">
					<source srcset="../src/images/ourDishes/hamburger-mob.webp, ../src/images/ourDishes/hamburger-mob@2x.webp"
					type="image/webp"> 
					 <source srcset="../src/images/ourDishes/pizza-mob.jpg , ../src/images/ourDishes/hamburger-mob@2x.jpg">
	 
					<source srcset="../src/images/ourDishes/hamburger-desk.webp , ../src/images/ourDishes/hamburger-desk@2x.webp"
					type="image/webp" >
					<source srcset="../src/images/ourDishes/hamburger-desk.jpg , ../src/images/ourDishes/hamburger-desk@2x.jpg">
			
				     <img src="../src/images/ourDishes/pizza-mob.jpg" alt="a hamburger">
				 </picture>
                        Hamburger mini --------------- $20
			</a>
		</li>
		<li class="dishes__item">
			<a class="dishes__link" href="">
				<picture width="100px" heigth="100px">
					<source srcset="../src/images/ourDishes/hamburger-mob.webp, ../src/images/ourDishes/hamburger-mob@2x.webp"
					type="image/webp"> 
					 <source srcset="../src/images/ourDishes/pizza-mob.jpg , ../src/images/ourDishes/hamburger-mob@2x.jpg">
	 
					<source srcset="../src/images/ourDishes/hamburger-desk.webp , ../src/images/ourDishes/hamburger-desk@2x.webp"
					type="image/webp" >
					<source srcset="../src/images/ourDishes/hamburger-desk.jpg , ../src/images/ourDishes/hamburger-desk@2x.jpg">
			
				     <img src="../src/images/ourDishes/pizza-mob.jpg" alt="a hamburger">
				 </picture>
                        Hamburger mini --------------- $20
			</a>
		</li>
		<li class="dishes__item">
			<a class="dishes__link" href="">
				<picture width="100px" heigth="100px">
					<source srcset="../src/images/ourDishes/hamburger-mob.webp, ../src/images/ourDishes/hamburger-mob@2x.webp"
					type="image/webp"> 
					 <source srcset="../src/images/ourDishes/pizza-mob.jpg , ../src/images/ourDishes/hamburger-mob@2x.jpg">
	 
					<source srcset="../src/images/ourDishes/hamburger-desk.webp , ../src/images/ourDishes/hamburger-desk@2x.webp"
					type="image/webp" >
					<source srcset="../src/images/ourDishes/hamburger-desk.jpg , ../src/images/ourDishes/pizza-desk@2x.jpg">
			
				     <img src="../src/images/ourDishes/pizza-mob.jpg" alt="a hamburger">
				 </picture>
                        Hamburger mini --------------- $20
			</a>
		</li>
	</ul>
</section>