<div class="backdrop is-hidden" data-modal >
	<div class="modal ">
	  <button class="modal__btn-close" type="button" data-modal-close >
	  <svg width="18px" height="18px" >
	    <use href="./images/icons.svg#icon-close-black" ></use>
	  </svg>
	 </button>
	 <!-- FORM -->
	 <form class="form" action="www.bigboss.com" name="our customers" >
	  <h1 class="form__title no-size">Оставьте свои данные, мы вам перезвоним</h1>
	 <label class="form__label-text">
	  Имя
	 <span class="form__box-svg">
	  <input class="input form__input" autofocus type="text" name="user-name" pattern="[A-Za-zА-Яа-я ]{100}+" title="Петро Петренко">
	  <svg class="form__icon" width="18px" height="18px">
	    <use href="./images/icons.svg#icon-person-black"></use>
	   </svg>
	 </span>
	  </label>
	 <label class="form__label-text">
	  Телефон
	 <span class="form__box-svg"> 
	  <input class="input form__input" type="tel" name="user-phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="099-099-00-99">
	  <svg class="form__icon" width="18px" height="18px">
	    <use href="./images/icons.svg#icon-phone-black"></use>
	  </svg>
	 </span>
	 </label>
	 <label class="form__label-text">
	  Почта
	 <span class="form__box-svg">
	  <input class="input form__input" type="email" name="user-address-email" pattern="/^[]+@]+\.[]$/i" title="petrenko12p@gmail.com">
	  <svg class="form__icon" width="18px" height="18px">
	    <use href="./images/icons.svg#icon-email-black"></use>
	  </svg>
	 </span>
	 </label>
	 <label class="form__label-text form__label-text--comment">
	  Комментарий
	  <textarea class="form__comment input" name="user-comment" placeholder="Введите текст"></textarea>
	 </label>
	 <!-- CHECKBOX -->
	  <label class="checkebox__label">
	  <input class="checkebox__input visually-hidden" type="checkbox" >
	  <svg class="checekebox__icon" width="11px" height="8px">
		 <use href="./images/icons.svg#icon-vector"></use>
	  </svg>
	
	  Соглашаюсь с рассылкой и принимаю 
	  <a class="checekebox__link link" href="#">Условия договора</a>
	 </label>
	  <button class="form__btn--modal btn" type="submit">Отправить</button>
	 </form>
	</div>
    </div>