<!-- HEADER MOBILE WERSION -->
<div class="">
	<header>
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item">
					<svg width="40px" heigth="40px">
						<use href="../src/images/sprite.svg#icon-logo-desk"></use>
					</svg>
				</li>
				<li class="nav__item">
					<button class="nav__btn" type="button">
						<svg width="40px" heigth="40px">
							<use href="../src/images/sprite.svg#icon-menu-mob"></use>
						</svg>
					</button>
				</li>
			</ul>
		</nav>
	</header>

	<!-- HERO SECTION MOBILE WERSION -->
	<section class="hero">
		<p class="hero__text">Welcome to our restaurant</p>
		<h1 class="hero__title">HOME OF BETTER FOOD</h1>
		<button class="" type="button">MENU</button>
	</section> 
</div>

