<section class="history">
	<h2 class="history__title">Our
          <span class="history__el">History</span>
	</h2>
	<p class="history__text">
		Lorem ipsum, dolor sit amet consectetur adipisicing
		elit. Dicta blanditiis animi odio est natus aliquid
		voluptate laudantium. Repellat, dicta in ea maiores
		expedita adipisci deserunt. Porro iusto, necessitatibus
		odio iste deleniti atque natus laborum quae, consectetur
		culpa enim eum ipsa earum illo dolores voluptatibus?
		Ipsam ipsa quibusdam reiciendis cumque maiores in ab quos,
		optio delectus quidem. Accusamus minus et itaque.
	</p>
	<ul class="history__list">
		<li class="history__item">
			<p class="history__descrip">
				<span class="history__number">93</span>
				Drinks
			</p>
		</li>
		<li class="history__item">
			<p class="history__descrip">
				<span class="history__number">206</span>
				Food
			</p>
		</li>
		<li class="history__item">
			<p class="history__descrip">
				<span class="history__number">71</span>
				Appetizer
			</p>
		</li>
	</ul>
	<ul class="history__imgList">
		<li class="history__imgItem">
			<picture width="100px" heigth="100px">
				<source srcset="../src/images/slide/slide-one-desk.webp , ../src/images/slide/slide-one-mob@2x.webp"
				type="image/webp">
				<source srcset="../src/images/slide/slide-one-mob.jpg , ../src/images/slide/slide-one-mob@2x.jpg">
 
				<source srcset="../src/images/slide/slide-one-desk.webp , ../src/images/slide/slide-one-desk@2x.webp"
				type="image/webp" >
				<source srcset="../src/images/slide/slide-one-desk.jpg , ../src/images/slide/slide-one-desk@2x.jpg">
		
			     <img src="../src/images/slide/slide-one-desk.jpg" alt="a pot with spices on the table">
			 </picture>
		</li>
		<li class="history__imgItem">
			<picture width="100px" heigth="100px">
				<source srcset="../src/images/slide/slide-two-desk.webp ,
				 ../src/images/slide/slide-two-mob@2x.webp"type="image/webp">

				<source srcset="../src/images/slide/slide-two-mob.jpg , ../src/images/slide/slide-two-mob@2x.jpg">
 
				<source srcset="../src/images/slide/slide-two-desk.webp , ../src/images/slide/slide-two-desk@2x.webp"
				type="image/webp" >
				<source srcset="../src/images/slide/slide-two-desk.jpg , ../src/images/slide/slide-two-desk@2x.jpg">
		
			     <img src="../src/images/slide/slide-two-desk.jpg" alt="photo of a piece of green cake">
			 </picture>
		</li>
		<li class="history__imgItem">
			<picture width="100px" heigth="100px">
				<source srcset="../src/images/slide/slide-three-desk.webp, ../src/images/slide/slide-three-mob@2x.webp"
				type="image/webp">
				<source srcset="../src/images/slide/slide-three-mob.jpg, ../src/images/slide/slide-three-mob@2x.jpg">

				<source srcset="../src/images/slide/slide-three-desk.webp, ../src/images/slide/slide-three-desk@2x.webp"
				type="image/webp" >
				<source srcset="../src/images/slide/slide-three-desk.jpg, ../src/images/slide/slide-three-desk@2x.jpg">
		
			     <img src="../src/images/slide/slide-three-desk.jpg" alt="interior of the restaurant, photos of tables on the background of windows with flower pots">
			 </picture>
		</li>		
	</ul>
</section>
