<section class="menu">
	<h1 class="menu__title" >Our menu</h1>
	<ul menu__list>
		<li class="menu__item">
			<a class="menu__link" href="">
				<p class="menu__rec">RECOMMENDED</p>
				<picture width="100px" heigth="100px">
					<source srcset="../src/images/menu/menu-mob.webp, ../src/images/menu/menu-mob@2x.webp"
					type="image/webp"> 
					 <source srcset="../src/images/menu/menu-mob.jpg , ../src/images/menu/menu-mob@2x.jpg">
	 
					<source srcset="../src/images/menu/menu-desk.webp , ../src/images/menu/menu-desk@2x.webp"
					type="image/webp" >
					<source srcset="../src/images/menu/menu-desk.jpg , ../src/images/menu/menu-desk@2x.jpg">
			
				     <img src="../src/images/menu/menu-mob.webp" alt="photo bar">
				</picture>
				<p class="menu__price">$22</p>
                        <h3 class="menu__title--el">Hamburger mix</h3>
				<p class="menu__decript">The thickest layer of meat</p>
				<button class="menu__btn" type="button">ORDER</button>
			</a>
		</li>
	</ul>
</section>