<section class="principle">
	<ul class="principle__list">
		<li class="principle__item">
			<svg aria-hidden="true" width="87px" heigth="87px">
				<use href="../src/images/sprite.svg#icon-food"></use>
			</svg>
			<h3 class="principle__title">Magical
				<span class="principle__el"> Atmosphere</span>
			</h3>
			<p class="principle__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Aspernatur nihil accusamus deserunt molestias impedit 
				quibusdam corrupti at, earum nisi, magnam eligendi laboriosam
				odit reiciendis esse minus dolores totam voluptates quam.
			</p>
		</li>
		<li class="principle__item">
			<svg aria-hidden="true" width="87px" heigth="87px">
				<use href="../src/images/sprite.svg#icon-food"></use>
			</svg>
			<h3 class="principle__title">The best quality of
				<span class="principle__el">Food</span>
			</h3>
			<p class="principle__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Aspernatur nihil accusamus deserunt molestias impedit 
				quibusdam corrupti at, earum nisi, magnam eligendi laboriosam 
				odit reiciendis esse minus dolores totam voluptates quam.
			</p>
		</li>
		<li class="principle__item">
			<svg aria-hidden="true" width="87px" heigth="87px">
				<use href="../src/images/sprite.svg#icon-food"></use>
			</svg>
			<h3 class="principle__title">Сheap 
				<span class="principle__el">Food</span>
			</h3>
			<p class="principle__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Aspernatur nihil accusamus deserunt molestias impedit 
				quibusdam corrupti at, earum nisi, magnam eligendi laboriosam
				odit reiciendis esse minus dolores totam voluptates quam.
			</p>
		</li>
	</ul>
</section>